<div class="devise_container">
<h4>Welcome <%= current_student.firstname.capitalize if current_student.firstname %>!</h4>

    <% if current_student.assignments.present? %>

      <h5>Here are your assignments for: <%= "#{}" %></h5>
      <table>
        <tbody>
          <tr>
          <td width="150"><h5>Assignment Name</h5></td>
          <td width="150"><h5>Assignment Grade</h5></td>
          </tr>
          <tr>
          <% current_student.assignments.select(:assignment_name,:assignment_grade).where(student_id: current_student.id).each do |assignment| %>
          <td width="150"><h6> <%= "#{assignment.assignment_name}" %></h6></td>
          <td width="150"><h6> <%= "#{assignment.assignment_grade}" %></h6></td>
         </tr>
          <% end %>
        </tbody>
        </table>

     <% else %>
     <h5>You currently do not have any Assignments.</h5>
    <% end %>

</div>
