<div class="devise_container">

  <h4>Add Course Detail - New <%= "#{get_course_name(params[:course_id])}" %> Assignment </h4>

  <h5>Course ID: <%= "#{params[:course_id]}" %></h5>

  <%= render partial: 'form', locals: {course_detail: @course_detail, action: "create"} %>

</div>
