<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>The Gradebook</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- CSS  -->
  <link href="../assets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../assets/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>

<body>
  <body>
    <nav class="white teal-text" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo brown-text">The Gradebook</a>
        <ul class="right hide-on-med-and-down">
          <li><a class="brown-text" href="#">Navbar Link</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
          <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
    </nav>

<!-- For Devise -->
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>



  <%= yield %>




  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">Text</p>

        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>

          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>

          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="text-lighten-3" href="http://www.ethelcofresi.com">Ethel Cofresi</a>
      </div>
    </div>
  </footer>


  <!--  Scripts  -->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="assets/materialize.js"></script>
  <script src="assets/init.js"></script>

  </body>
</html>
